@main("Home") {
  <h3>
    Core Design is a professional web design and online application development company based in Dublin, Ireland.
  </h3>
  <h4>
     We specialise in the following areas:
  </h4>
  <ul>
    <li> Web Design </li>
    <li> Content Managment </li>
    <li> Web Application Development</li>
    <li> Ecommerce and payment</li>
    <li> Security </li>
    <li> Search Engine Optimisation</li>
  </ul>

  <p>
    Please <a href="ContactUs.html"> contact us </a>
    to discuss your requirments
  </p>
}
